# TYPE  DATABASE        USER            ADDRESS                 METHOD

{% for connection in pg_hba_conf %}
# {{ connection.comment }}
{{ connection.type }}	{{ connection.database }}		{{ connection.role }}		{{ connection.address }}		{{ connection.method }}
{% endfor %}
